* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2%;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: solid 3px;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav li:hover {
  transform: scale(1.1);
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0 10px;
  padding: 0 10px;
}

nav ul li:nth-child(1),
nav ul li:nth-child(2) {
  border-right: 2px solid black;
}

h1 {
  font-size: 30px;
  padding: 0 0 10px 10px;
  margin-top: 10px;
  text-align: center;
}

.landing-pg {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  max-width: 400px;
}

input {
  padding: 5px;
  margin-bottom: 5px;
  width: 300px;
  border: solid 3px;
}

button {
  width: 30%;
  background-color: #fff;
  color: black;
  border: solid 3px;
  border-color: black;
  padding: 5px 10px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.book-plate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #fff;
}

.book-plate p {
  font-weight: bold;
}

.books {
  margin: 20px auto;
  max-width: 500px;
  padding: 10px;
  background-color: #f4f4f4;
}

hr {
  width: 100px;
  height: 3px;
  background-color: black;
  margin: 0 57% 0 43%;
}

.add-new-books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-top: 30px;
}

#add-form {
  margin: 20px auto;
  max-width: 500px;
  padding: 10px;
  background-color: #f4f4f4;
  border: solid 3px;
}

#titile {
  margin-bottom: 3%;
}

#book-author {
  margin-bottom: 3%;
}

.delete-btn {
  background-color: #fff;
  color: black;
  border: solid 3px;
  border-color: black;
  padding: 5px 10px;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-top: 20vh;
}

.contact-info h2 {
  margin-bottom: 10px;
  text-align: center;
}

.contact-info p {
  margin-left: 30vw;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}

.contact-info ul {
  margin-left: 32vw;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10%;
}

.contact-info ul li a {
  text-decoration: none;
  color: black;
}

footer {
  position: fixed;
  bottom: 10px;
  font-size: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 2px solid black;
}
